b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 700;
}

html {
    font-family: Roboto;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    background-color: #fff;
}

section,
summary {
    display: block;
}

footer {
    font-family: Roboto;
    position: relative;
}

p.copyright {
    font-family: Roboto;
    position: relative;
    width: 100%;
    /* bottom: 50px; */
    color: #fff;
    line-height: 60px;
    font-size: 1.0em;
    text-align: center;
}

[hidden] {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    margin: .67em 0;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.w-clearfix:after,
.w-clearfix:before {
    content: " ";
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html.w-mod-touch * {
    background-attachment: scroll!important;
}

.w-block {
    display: block;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.w-clearfix:after,
.w-clearfix:before {
    display: table;
}

.w-clearfix:after {
    clear: both;
}

html[data-w-dynpage][data-w-cloak] {
    color: transparent!important;
}

.w-container:after {
    clear: both;
}

h1,
h2,
h3 {
    margin-top: 20px;
}

h4,
h5,
h6 {
    margin-top: 10px;
}

p,
ul {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-bottom: 10px;
}

h1 {
    font-family: Roboto;
    font-size: 38px;
    line-height: 44px;
}

h2 {
    font-family: Roboto;
    font-size: 22px;
    line-height: 36px;
}

h3 {
    font-family: Roboto;
    font-size: 22px;
    line-height: 30px;
}

h4 {
    font-family: Roboto;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-size: 12px;
    line-height: 18px;
}

ul {
    padding-left: 40px;
}

.w-list-unstyled {
    padding-left: 0;
    list-style: none;
}

.w-container:after,
.w-container:before {
    display: table;
    content: " ";
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid #000;
}

@media screen and (max-width:991px) {
    .w-container {
        max-width: 728px;
    }
}

@media screen and (max-width:479px) {
    .w-container {
        max-width: none;
    }
}

.link-block-3,
.list-item,
.list-item-5 {
    background-repeat: no-repeat;
}

.list-item,
.list-item.dribbble {
    margin-bottom: 25px;
    position: relative;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.paragraph,
.text-block {
    color: #fff;
}

.list-item-4,
.portrait {
    padding-right: 0;
    float: left;
}

body {
    font-family: Roboto;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.body {
    overflow: visible;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #000;
    font-family: Roboto;
    line-height: 25px;
    font-weight: 300;
}

.text-block {
    margin-top: 157px;
    font-family: Roboto;
    font-size: 40px;
}

.heading,
.paragraph,
.text-block-2 {
    font-family: Roboto;
}

@media only screen and (max-width: 782px) {
    .heading {
        text-align: center;
    }
}

.heading {
    color: #fff;
    font-weight: 600;
    line-height: 1;
}

.paragraph {
    font-size: 25px;
    line-height: 50px;
    font-weight: 300;
}

.section {
    margin-top: 53px;
}

@media only screen and (max-width: 782px) {
    .unordered-list {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* width: 65%; */
    }
}

.unordered-list {
    clear: left;
}

.list-item {
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 72px;
    float: left;
    background-image: url(https://i.imgur.com/O4oRR1x.png);
    background-position: 0 1px;
    background-size: 60px;
}

.list-item.laanaya {
    clear: none;
    background-size: 53px;
}

.list-item.minevictus {
    position: relative;
    background-image: url(assets);
    background-position: 0 0;
    background-size: 55px;
}

.list-item.minevictus {
    background-image: url(../../assets/minevictus.jpg);
    background-position: 0 0;
    background-size: 51px;
}

.list-item.turtlebob {
    background-image: url(../../assets/turtlebob.jpg);
    background-position: 0 4px;
    background-size: 55px;
}

.text-block-2 {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: .3px;
}

.list-item-2,
.list-item-3 {
    font-family: Roboto;
    color: #fff;
}

.heading-2 {
    margin-top: 18px;
    margin-bottom: 6px;
    color: #fff;
    font-size: 20px;
    line-height: 5px;
    font-weight: 500;
    letter-spacing: .4px;
}

.container {
    margin-bottom: 100px;
    padding-top: 40px;
}

.logo {
    position: relative;
    left: 100px;
}

.div-block {
    position: relative;
    margin-left: -107px;
}

@media only screen and (max-width: 782px) {
    .heading3 {
        text-align: center;
    }
}

.heading3 {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 15px;
    border-top: 1px solid #000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.list-item-3 {
    /* max-width: 260px; */
    font-size: 15px;
}

@media only screen and (max-width: 782px) {
    .unordered-list-2 {
        text-align: justify;
        padding-left: 165px;
    }
}

.unordered-list-2 {
    margin-bottom: 50px;
    margin-left: -23px;
}

.heading-3 {
    margin-top: 18px;
    margin-bottom: 6px;
    color: beige;
    font-size: 16px;
    line-height: 5px;
    font-weight: 500;
    letter-spacing: .4px;
}

.heading-4 {
    margin-bottom: -10px;
    border: 1px #000;
    font-family: Roboto;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

@media only screen and (max-width: 782px) {
    .list-item-4 {
        text-align: center;
    }
}

.list-item-4 {
    width: 250px;
    margin-right: 41px;
    color: #fff;
}

@media only screen and (max-width: 782px) {
    .unordered-list-3 {
        margin-left: -0px !important;
    }
}

.unordered-list-3 {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 8px;
    padding-bottom: 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    list-style-type: none;
}

@media only screen and (max-width: 782px) {
    .heading-5 {
        text-align: center;
    }
}

#laanaya-wrapper {
    position: relative;
}

.laanaya-button-primary {
    border: 2px solid #007bff;
    background-color: #0066ff;
    color: white;
    font-size: 14px;
    padding: 4px 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.laanaya-button-secondary {
    border: 2px solid #9c9c9c;
    background-color: #ffffff;
    color: black;
    font-size: 14px;
    padding: 4px 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.laanaya-button-primary:hover,
.laanaya-button-secondary:hover {
    color: inherit;
    text-decoration: none;
}
.laanaya-button-primary:hover {
    color: white;
}

@media only screen and (max-width: 782px) {
    .phone {
        visibility: hidden;
    }
}
.phone {
    font-family: 'Roboto';
    color: white;
}
.heading-5 {
    width: 300px;
    line-height: normal;
    font-size: 20px;
}
@media only screen and (max-width: 782px) {
    .paragraph-2 {
        text-align: center;
    }
}
.paragraph-2 {
    font-family: Roboto;
    color: #f0eeff;
}
.bio-text,
.link-2,
.list-item-14,
.paragraph-3,
.text-block-4 {
    color: #fff;
}
.linkage {
    color: beige;
}
@media only screen and (max-width: 782px) {
    .paragraph-3 {
        text-align: justify;
    }
}
.paragraph-3 {
    margin-bottom: 20px;
    font-family: Roboto;
    text-align: justify;
    font-size: 16px;
    line-height: 27px;
    font-style: normal;
    font-weight: 300;
}
.text-block-3 {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 25px;
    font-style: italic;
}
.link-company {
    bottom: 0;
    display: block;
    min-height: 60px;
}
.name {
    margin-top: 10px;
    font-family: Roboto;
    font-size: 18px;
}
.person-title {
    font-family: Roboto;
    font-size: 13px;
    text-decoration: none;
    text-transform: none;
}
.bio-text {
    width: 800px;
    margin-bottom: 51px;
    padding-left: 150px;
    font-size: 16px;
    line-height: 23px;
}
.bio-text.amin {
    padding-top: 0;
    line-height: 23px;
}
.portrait {
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 0 0 6px 2px rgba(16, 3, 172, .2);
}
.text-block-4 {
    display: block;
    width: 180px;
    margin-top: 142px;
    margin-right: auto;
    margin-left: auto;
    font-family: Roboto;
}
.fa-check-circle:before {
    color: green !important;
}
.link-block-2 {
    position: absolute;
    left: -2px;
    width: 260px;
    height: 70px;
}
.footer-heading {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
}
.reviews {
    flex-wrap: nowrap !important;
    margin-bottom: 20px;
}
.reviews-scroller {
    position: relative;
    outline: none;
}
.reviews-scroller > .flickity-viewport {
    overflow-x: hidden;
    border-radius: 0.25rem;
}
.reviews-scroller > .flickity-button {
    display: flex;
    background: none;
    border: none;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.reviews-scroller > .flickity-button > svg {
    width: 30px;
    height: 30px;
    fill: black;
}
.reviews-scroller > .flickity-button:disabled > svg {
    opacity: 0.25;
    cursor: not-allowed;
}
.reviews-scroller > .flickity-button.previous {
    left: -30px;
}
.reviews-scroller > .flickity-button.next {
    right: -30px;
}
.review {
    display: flex;
    flex-direction: column;
}
.review-box {
    position: relative;
    background: white;
    padding: 1.25rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin-bottom: 24px;
}
.review-box::after {
    content: '';
    position: absolute;
    bottom: -24px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-width: 12px 15px;
    border-top-color: #fff;
}
.review-content {
    margin: 0;
}
.review-author {
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.review-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 1rem;
}
.review-name {
    margin: 0;
    color: white;
}
.review-subline {
    margin: 0;
    color: beige;
}
.success-story {
    display: flex;
    margin-top: 75px;
    margin-bottom: 50px;
}
.success-image {
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.25rem;
    margin-right: 30px;
}
.success-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.25rem;
    color: white;
}
@media screen and (max-width: 992px) {
.success-name {
    text-align: center;
}
.success-name {
    margin: 0;
}
@media screen and (max-width: 992px) {
.success-subline {
    text-align: center;
}
.success-subline {
    margin-top: 0;
    margin-bottom: 1rem;
    color: beige;
}
.success-content {
    margin: 0;
    font-size: 16px;
    text-align: justify;
}
@media screen and (max-width: 992px) {
    .success-story {
        flex-direction: column;
    }
    .success-image {
        max-width: 100%;
        max-height: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
}

/* Footer Custom Css */
.logo-footer {
    margin-bottom: 40px!important;
}

.btn-footer {
    background-color: #0066ff;
    color: white;
    text-decoration: none;
    border: 2px solid #007bff;
    font-size: 14px;
    padding: 7px 30px!important;
    border-radius: 5px;
}
.btn-footer:hover {
    text-decoration: none!important;
}
.settings {
    padding: 10px!important;
}
.custom-icon {
    font-size: 33px!important;
    letter-spacing: 3px!important;
}
.social {
    top: -40px;
    position: relative;
}
.footer-logo {
    /* padding-top: 40px; */
    position: relative;
    padding-bottom: 30px;
    border-bottom: white 1px;
}

/* responsive code */

/* @media screen and (max-width:780px) {
    .custom-icon {
        font-size: 20px !important;
    }
    
    .btn-footer {
        font-size: 10px !important;
    }
} */
.col-md-3,
.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.fa-facebook:before {
    color: white !important;
}
.fa-slack:before {
    color: white !important;
}
.fa-github:before {
    color: white !important;
}
.fa-discord:before {
    color: white !important;
}
.fa-twitter:before {
    color: white !important;
}
.fa-linkedin:before {
    color: white !important;
}
.list-unstyled-2 {
    /* display: -webkit-inline-box; */
    
    list-style: none;
    color: white;
    padding-left: 0;
}
.list-item-1 {
    padding-right: 10px;
}

.dark a {
    color: #000 !important;
}

.container {
    max-width: 960px;;
}

.card-body {
    padding-top: 0.50rem;
}

.free-trial {
    border: 6px solid #007bff;
    background-color: #0066ff;
    color: white;
    font-size: 14px;
    padding: 4px 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

li {
    padding-left: 17%;
    text-align: left;
}

@media screen and (max-width:991px) {
.list-footer {
    text-align: center;
    }
}

.list-footer {
padding-left: unset !important;
}

.disclaimer {
    color: beige;
    font-family: Roboto;
    font-size: 12px;
    text-align: left;
    line-height: 1;
    top: -19px;
    position: relative;
}

.testimonials-clean {
  color:#313437;
  background-color:#eef4f7;
}

.testimonials-clean p {
  color:#7d8285;
}

.testimonials-clean h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .testimonials-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.testimonials-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.testimonials-clean .intro p {
  margin-bottom:0;
}

.testimonials-clean .people {
  padding:50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom:32px;
}

@media (min-width:768px) {
  .testimonials-clean .item {
    height:220px;
  }
}

.testimonials-clean .item .box {
  padding:30px;
  background-color:#fff;
  position:relative;
}

.testimonials-clean .item .box:after {
  content:'';
  position:absolute;
  left:30px;
  bottom:-24px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-width:12px 15px;
  border-top-color:#fff;
}

.testimonials-clean .item .author {
  margin-top:28px;
  padding-left:25px;
}

.testimonials-clean .item .name {
  font-weight:bold;
  margin-bottom:2px;
  color:inherit;
}

.testimonials-clean .item .title {
  font-size:13px;
  color:#9da9ae;
}

.testimonials-clean .item .description {
  font-size:15px;
  margin-bottom:0;
}

.testimonials-clean .item img {
  max-width:40px;
  float:left;
  margin-right:12px;
  margin-top:-5px;
}